cloudpickle==2.2.1
distlib==0.3.6
filelock==3.9.0
gym==0.26.0
gym-notices==0.0.8
-e git+https://github.com/AndreLeEEEEEE/HoleGoal.git@37cabf81fcfdf066511d6d40e47c2a7e5db69770#egg=HoleGoal
importlib-metadata==6.0.0
numpy==1.24.2
platformdirs==3.0.0
virtualenv==20.19.0
zipp==3.13.0
